@import './_variables.scss';
@import './loader.scss';
@import './_reset.scss';

.app {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;

	&-section {
		padding-bottom: 2rem;
		text-align: center;
	}

	&-btn {
		padding: 0.75rem 1rem;
		color: white;
		background-color: $color-btn;
		border: none;
		border-radius: 0.2rem;
		font-weight: bold;
		transition: all 0.1s linear;

		&:hover {
			cursor: pointer;
			background-color: darken($color-btn, 5%);
		}

		&--submit {
			margin-top: 1rem;
			font-size: 1rem;
			background-color: white;
			color: $color-btn;

			&:hover {
				background-color: white;
				color: $color-btn;
			}

			&:disabled {
				color: rgb(189, 192, 192);
				cursor: default;
			}
		}
	}

	&-recorder-form {
		display: flex;
		flex-direction: column;
		align-items: center;

		&__label {
			margin-right: 1rem;

			& > span {
				color: red;
			}
		}

		&__input {
			padding: 0.5rem 1rem;
			font-size: 1rem;
			border-radius: 100000rem;
			border: rgba(black, 0.4) 1px solid;

			&:focus,
			&:active,
			&:focus-visible {
				outline: none;
			}
		}

		&__msg {
			padding: 1rem 2.5rem;
			border-radius: 0.25rem;
			position: relative;

			&--error {
				color: $color-rose;
				background-color: rgba($color-rose, 0.1);
			}

			&--success {
				color: $color-green;
				background-color: rgba($color-green, 0.1);
			}

			& > span {
				position: absolute;
				right: 5px;
				top: 2px;
				font-size: 1.25rem;
				user-select: none;
				cursor: pointer;
				font-weight: bold;
			}
		}
	}
}

.audio-react-recorder__canvas {
	height: 8rem;
	background-color: rgb(200, 200, 200);
}
